<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CrashEdit.CE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CrashEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CrashEdit.CE.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="DefaultFormW" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="DefaultFormH" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DisplayNormals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayFrameCollision" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeleteInvalidEntries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayAnimGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AnimGridLen" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PatchNSDSavesNSF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearColorRGB" serializeAs="String">
                <value>-16382458</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="FontName" serializeAs="String">
                <value>arial.ttf</value>
            </setting>
            <setting name="Font3DEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Font2DEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewerShowHelp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NodeShadeMax" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="ViewZoneBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewZoneName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewCamera" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewCameraAngle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableVisual" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEntityParams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModePAL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOldPatchNSD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowliteralCollisionTypes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableCustomCrates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableC2TTEditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PatchGOOLC3toC2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitAnimViewerPanels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlignedMovement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableLegacyEntityBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MakeBinPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MakeBinSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="MakeBinRegion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultGameVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputCopyTextureResult" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputModelTextureInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplyMica" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputCLUTInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreDuplicatedEntryError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HexViewCellSize" serializeAs="String">
                <value>Small</value>
            </setting>
            <setting name="ShowRenderingErrors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRebuildUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="C2ExportPath" serializeAs="String">
                <value>c2export.exe</value>
            </setting>
            <setting name="ShowUndockButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRefreshButton" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecentNSFFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="AllowMultiopenNSF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseNeighborZoneTransparency" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAnimTex0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultFogValue" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DefaultFogIsActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultParticleIsActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultpictureBoxBackgroundTextureGapColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultRecolorGapIsActive" serializeAs="String">
                <value>False</value>
            </setting>
        </CrashEdit.CE.Properties.Settings>
    </userSettings>
</configuration>